{% extends 'layout/layout.html' %}
{% load static %}

{% block title %}
    Report
{% endblock %}
{% block header %}
    <link href="{% static 'assets/plugins/custom/jstree/jstree.bundle.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/custom/fullcalendar/fullcalendar.bundle.css' %}" rel="stylesheet"
          type="text/css"/>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-custom gutter-b">
                    <div class="card-header">
                        <div class="card-title">
                            <h3 class="card-label">Report</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div id="kt_tree_2" class="tree-demo">
                                    <ul>
                                        <li data-jstree='{ "opened" : true }'>Contacts
                                            <ul>
                                                <li data-jstree='{ "opened" : true }'>Address Listing
                                                    <ul>
                                                        {% for addressList in data.addressList %}
                                                            <li data-jstree='{ "type" : "file" }' data-toggle="modal"
                                                                data-target="#editTemplate" class="list"
                                                                data-id="{{ addressList.id }}">{{ addressList.name }}
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                                <li data-jstree='{ "opened" : true }'>Tel list
                                                    <ul>
                                                        {% for telList in data.telList %}
                                                            <li data-jstree='{ "type" : "file" }' data-toggle="modal"
                                                                data-target="#editTemplate" class="list"
                                                                data-id="{{ telList.id }}">{{ telList.name }}
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                                <li data-jstree='{ "opened" : true }'>City list
                                                    <ul>
                                                        {% for cityList in data.cityList %}
                                                            <li data-jstree='{ "type" : "file" }' data-toggle="modal"
                                                                data-target="#editTemplate" class="list"
                                                                data-id="{{ cityList.id }}">{{ cityList.name }}
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                                <li data-jstree='{ "opened" : true }'>Occupation
                                                    <ul>
                                                        {% for occupationList in data.occupationList %}
                                                            <li data-jstree='{ "type" : "file" }' data-toggle="modal"
                                                                data-target="#editTemplate" class="list"
                                                                data-id="{{ occupationList.id }}">{{ occupationList.name }}
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li data-jstree='{ "opened" : true }'>Task
                                            <ul>
                                                <li data-jstree='{ "opened" : true }'>Task Category
                                                    <ul>
                                                        {% for taskCategoryList in data.taskCategoryList %}
                                                            <li data-jstree='{ "type" : "file" }' data-toggle="modal"
                                                                data-target="#editTemplate" class="list"
                                                                data-id="{{ taskCategoryList.id }}">{{ taskCategoryList.name }}
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                                <li data-jstree='{ "opened" : true }'>Task owner
                                                    <ul>
                                                        {% for taskOwnerList in data.taskOwnerList %}
                                                            <li data-jstree='{ "type" : "file" }' data-toggle="modal"
                                                                data-target="#editTemplate" class="list"
                                                                data-id="{{ taskOwnerList.id }}">{{ taskOwnerList.name }}
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li data-jstree='{ "opened" : true }'>Staff
                                            <ul>
                                                <li data-jstree='{ "opened" : true }'>Phone numer
                                                    <ul>
                                                        {% for phoneList in data.phoneList %}
                                                            <li data-jstree='{ "type" : "file" }' data-toggle="modal"
                                                                data-target="#editTemplate" class="list"
                                                                data-id="{{ phoneList.id }}">{{ phoneList.name }}
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                                <li data-jstree='{ "opened" : true }'>Address
                                                    <ul>
                                                        {% for staff_addressList in data.staff_addressList %}
                                                            <li data-jstree='{ "type" : "file" }' data-toggle="modal"
                                                                data-target="#editTemplate" class="list"
                                                                data-id="{{ staff_addressList.id }}">{{ staff_addressList.name }}
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <form action="/report/" method="post">
                                    {% csrf_token %}
                                    <div class="form-group row">
                                        <div class="col-6 offset-3">
                                            {% if message %}
                                                {% if message is True %}
                                                    <div class="alert alert-success">
                                                        Template is created successfully.
                                                    </div>
                                                {% else %}
                                                    <div class="alert alert-danger">
                                                        Template creating has some errors.
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-md-3 col-form-label text-right">Template
                                            Type: </label>
                                        <div class="col-lg-6 col-md-3">
                                            <select class="form-control" required name="category">
                                                <option value="">--- Please choose the template type ---</option>
                                                <option value="addressList">Address List</option>
                                                <option value="telList">Tel List</option>
                                                <option value="cityList">City List</option>
                                                <option value="occupationList">Occupation List</option>
                                                <option value="taskCategoryList">Task Category List</option>
                                                <option value="taskOwnerList">Task owner List</option>
                                                <option value="phoneList">Staff Phone Number List</option>
                                                <option value="staff_addressList">Staff Address List</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-md-3 col-form-label text-right">Template
                                            name: </label>
                                        <div class="col-lg-6 col-md-3">
                                            <input type="text" class="form-control" placeholder="Type the name"
                                                   name="name" required/>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-md-3 col-form-label text-right">Template print page
                                            size: </label>
                                        <div class="col-lg-6 col-md-3">
                                            <select class="form-control" required>
                                                <option>--- Please choose the page size ---</option>
                                                <option>A0</option>
                                                <option>A1</option>
                                                <option>A2</option>
                                                <option>A3</option>
                                                <option>A4</option>
                                                <option>A5</option>
                                                <option>A6</option>
                                                <option>A7</option>
                                                <option>A8</option>
                                                <option>B0</option>
                                                <option>B1</option>
                                                <option>B2</option>
                                                <option>B3</option>
                                                <option>B4</option>
                                                <option>B5</option>
                                                <option>B6</option>
                                                <option>B7</option>
                                                <option>B8</option>
                                                <option>B9</option>
                                                <option>B10</option>
                                                <option>B10</option>
                                                <option>C2</option>
                                                <option>C3</option>
                                                <option>C4</option>
                                                <option>C5</option>
                                                <option>C6</option>
                                                <option>D0</option>
                                                <option>SRA0</option>
                                                <option>SRA1</option>
                                                <option>SRA2</option>
                                                <option>SRA3</option>
                                                <option>SRA4</option>
                                                <option>RA0</option>
                                                <option>RA1</option>
                                                <option>RA2</option>
                                                <option>Letter (ANSI A)</option>
                                                <option>Legal</option>
                                                <option>Ledger (ANSI B)</option>
                                                <option>Tabloid (ANSI B)</option>
                                                <option>Executive</option>
                                                <option>ANSI C</option>
                                                <option>ANSI D</option>
                                                <option>ANSI E</option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="form-group row">
                                        <div class="col-lg-6 offset-3">
                                            <button class="btn btn-primary mr-2">Add</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <p class="card-label text-right">@2020 ODOO report system</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editTemplate" tabindex="-1" role="dialog" aria-labelledby="editTemplate"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editTemplate">
                        <i class="ki ki-outline-info" style="color:  green"></i> &nbsp;Do you wanna edit?
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>You can edit the report template. Please go head!</h5>

                </div>
                <div class="modal-footer">
                    <form action="/edit">
                        <input type="hidden" name="templateId" id="templateId"/>
                        <button type="button" class="btn btn-secondary font-weight-bold" data-dismiss="modal">Cancel
                        </button>
                        <button type="submit" class="btn btn-primary font-weight-bold">Edit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    <script src="{% static 'assets/plugins/custom/jstree/jstree.bundle.js' %}"></script>
    <script src="{% static 'assets/js/pages/features/miscellaneous/treeview.js' %}"></script>
    <script>
        $(function () {
            $(document).on('click', '.list', function () {
                var templateId = $(this).data('id');
                $('#templateId').val(templateId);
            })
        })
    </script>
{% endblock %}
