<html>
<head>
    <title>Title</title>
    <style type="text/css">
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>

<p style="position:absolute; background-color: #00ccff;height: 198.00px; width: 100%; top: 0px"></p>
<p style="position:absolute; background-color: #0088ff;height: 300.92px; width: 100%; bottom: 0px"></p><img
        src='http://localhost:8000/media/download.png'
        style="position:absolute; width: 84.00px; height: 56.00px; top: 28.00px; left: 30.00px"/><img
        src='http://localhost:8000/media/1%20(1).png'
        style="position:absolute; width: 324.00px; height: 63.00px; top: 210.00px; left: 15.00px"/>
<p style="position:absolute; width: 138.00px; top: 15.00px; left: 124.00px; font-size: 20pt; color: black; font-weight: bold; font-style: initial; text-decoration: initial; text-align: initial;">
    UserName</p>
<p style="position:absolute; width: 156.00px; top: 201.00px; left: 343.00px; font-size: 20pt; color: black; font-weight: 100; font-style: initial; text-decoration: initial; text-align: initial;">
    UserName</p>
<hr style="position:absolute; width: 791.00px; top: 280px; left: 15px; border-style: solid; border-width: 2px; border-color: #009dff;"/>
</body>

</html>